body {
    font-family: Arial, Helvetica, sans-serif;
}

#leaderboards a {
    text-decoration: none;
    color: #1aaa0d;
    font-size: 120%;
}

#leaderboards a:hover {
    color: #f82121;
}

#timer {
    position: absolute;
    color: #1aaa0d;
    top: 14px;
    right: 14px;


}

button {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border-radius: 7px;
    font-size: 115%;
    background-color: #1aaa0d;
    padding: 2px 10px;
    color: #ffffff;
    
  }
  
  button:hover {
    background-color: #f82121;
  }
  
  .box {
    margin: 173px auto 0 auto;
    max-width: 500px;
  }
  
  .hide {
    display: none;
  }

  #question-text {
    text-align: center;
  }

  #options {
    text-align: center;
  }
  
  .response-right {
    font-weight: bold;
    font-size: 180%;
    text-decoration: underline;
    text-align: center;
    margin: 4px 0;
    padding: 15px 0;
    color: #1aaa0d;
  }

  .response-wrong {
    font-weight: bold;
    font-size: 180%;
    text-decoration: underline;
    text-align: center;
    margin: 4px 0;
    padding: 15px 0;
    color: #f82121;
  }

  #end-page {
    text-align: center;
  }

  #score {
    color: #1aaa0d;
    font-weight: bold;
    font-size: 130%;
  }

  #initials {
    font-size: 115%;
  }